header {
	position: relative;
	@media only screen and (min-width: 840px) {
		position: absolute;
		top: 2em;
		left: 2em;
	}
}
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	@media only screen and (min-width: 840px) {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
}

.left,
.rigth {
	width: 100%;
}
.left {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	@media only screen and (min-width: 840px) {
		margin-left: none;
		margin-right: 0;
	}
	@media only screen and (min-width: 1060px) {
		max-width: 700px;
	}
}
.rigth {
	text-align: center;
	transition: $transition;

	@media only screen and (min-width: 840px) {
		text-align: left;
		margin-left: 2em;
	}

	h1 {
		font-size: 1.5em;
		text-transform: capitalize;
		color: $clr-primary;

		@media only screen and (min-width: 840px) {
			width: 70%;
			font-size: 2em;
			line-height: 50px;
			margin-bottom: 0;
		}
		@media only screen and (min-width: 1117px) {
			margin-bottom: 0;
		}
	}
	p {
		font-size: em;
		width: 100%;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;

		@media only screen and (min-width: 840px) {
			padding-right: 2em;
			margin: 2em auto 2em 0;
			font-size: 1em;
		}
		@media only screen and (min-width: 930px) {
			padding-right: 4em;
		}
		@media only screen and (min-width: 1050px) {
			padding-right: 6em;
		}
	}
}
.mockup {
	width: 100%;
	transition: $transition;
}

.cta {
	padding: 0.8em 4.5em;
	border-radius: 2em;
	border: 1px solid transparent;
	color: $clr-violet;
	font-size: 0.7em;
	font-family: 'Poppins';
	text-transform: capitalize;
	cursor: pointer;
	transition: $transition;

	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.33);

	@media only screen and (min-width: 840px) {
		padding: 1em 4em;
		font-size: 1em;
	}

	&:hover {
		background-color: $clr-softMagenta;
		color: $clr-primary;
	}
}

.social-icons {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
	@media only screen and (min-width: 840px) {
		position: absolute;
		bottom: 2em;
		right: 4em;
		max-width: 200px;
	}

	.wrapper {
		width: 50%;
		max-width: 500px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		& > a {
			margin: 0.5em;
			padding: 0.5em;
			border: 1px solid $clr-primary;
			border-radius: 50%;
			color: $clr-primary;

			display: flex;
			align-items: center;
			justify-content: center;
			transition: $transition;

			&:hover {
				color: $clr-softMagenta;
				border-color: $clr-softMagenta;
			}
		}
	}
}
