// Colors
$clr-violet: hsl(257, 40%, 49%);
$clr-softMagenta: hsl(300, 69%, 71%);

$clr-primary: hsl(0, 0%, 100%);

// Media queries
$media-mobile: 375px;
$media-desktop: 1440px;

// Transition
$transition: all 300ms ease;
